.navbar-custom {
    background-color: #f07300;
    border-color: #f07300;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover {
    	background-color: #f07300;
	border-color: #f07300;
}

.navbar-inverse .navbar-collapse {
    border-color: #f07300;
}

.navbar-custom .navbar-brand {
    color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}
